<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>線画画像も表示する </p>
      <%= render 'form', post_image: @post_image %>
    </div>
  </div>
</div>
<script>
  $('#post_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#preview").attr('src', e.target.result);
    }
  reader.readAsDataURL(e.target.files[0]);
});
</script>