<h1>Showページ</h1>
<h2>投稿イラストの詳細ページ</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <!--ログインしたユーザが表示される(未ログイン時は「ログイン・新規登録」が表示する)-->

    </div>
    <div class="col-lg-9">
      <!--投稿されたイラストを表示する-->

    </div>
  </div>
</div>