<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style="text-align:center;">線画素材の一覧(新着)</h1>
      <br />
      <% @item_images.each do |item_image| %>
        <div class="post_image_link" style="display:inline-block">
          <div class="post_image_name_title", style="text-align:center">
            <%= link_to public_item_image_path(item_image.id) do %>
              <div class="item_list">
                <%= attachment_image_tag item_image, :image, width: '200px', height: '200px', style: "object-fit:cover"  %><br />
                <%= item_image.item_title %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @item_images %>
    </div>
  </div>
</div>