<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>新規線画の追加</h2>
      <%= render 'form', item_image: @item_image %>
    </div>
    <%= link_to '一覧に戻る', admin_item_images_path, class: "btn btn btn-secondary" %>
  </div>
</div>